@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
body{
    text-align: center;
    font-family: 'Amatic SC';
    color: white;
    background: linear-gradient(#99ffe5 0%, #b7c4ff 50%, #ffa3a3 100% ); 
}
#video {
    width: 100%;
    height: 500px;
    border: none;
}